.initial-hidden {
  display: none
}

.click {
  cursor: pointer;
  color: #0088cc;
}

body {
  background-color: black;
  color: gray;
}

.lights-on {
  background-color: yellow;
}

.lights-off {
  background-color: black;
  color: gray;
}
